# Entornos virtuales
venv/
.venv/
env/
venv_traductor/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Entornos e IDEs
.vscode/
.idea/

# Modelos, cachés y dependencias de IA
unsloth_compiled_cache/
modelo_exportado_v2/
modelo_exportado_v2_gguf/
*.gguf

# Resultados y salidas
checkpoints_entrenamiento_v2/
*.log

# Datasets y archivos descargados/grandes
*.zip
*.jsonl
KDE4.en-es.xml

# SO
.DS_Store
Thumbs.db